[submodule "dependencies/facebook-csharp-sdk"]
	path = dependencies/facebook-csharp-sdk
	url = git://github.com/PaulECoyote/facebook-csharp-sdk.git
[submodule "dependencies/Nancy"]
	path = dependencies/Nancy
	url = git://github.com/PaulECoyote/Nancy.git
